
    <h1>Create deck</h1>

    {{ form_start(form, {'action': path(app.request.attributes.get('_route')), 'method': 'POST', 'enctype':'multipart/form-data'}) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary" type="submit">
        Create Deck
    </button>
    {{ form_end(form) }}
